nav {
    background-color: #d8bfd8;
    ul {
        li {
            a {
                text-decoration: none;
            }
            a:hover {
                background-color: #e6e6fa;
            }
        }
    }
}

div {
    a {
        text-decoration: none;
        color: $negro;
    }
    a:hover {
        color: $negro;
    }
}